<% layout('layouts/boilerplate') %>
    <div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Edit your Listing here!!</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input type="text" name="listing[title]" class="form-control" required value="<%= listing.title %> " >

             <div class="valid-feedback"> Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Description: </label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
            Original Image:
            <br>
            <img src="<%= originalImageUrl %>" alt="">
        </div>
         <div class="mb-3">
            <label for="title" class="form-label">Upload New Image: </label>
            <input type="file" name="image" class="form-control"  >
        </div>
          <div class="form-group">
                <label for="category">Category</label>
                <select name="listing[category]" id="category" class="form-control" required>
                    <option value="">-- Select Category --</option>
                    <option value="Resorts" <%= listing.category === "Resorts" ? "selected" : "" %>>Resorts</option>
                    <option value="Cafes" <%= listing.category === "Cafes" ? "selected" : "" %>>Cafes</option>
                    <option value="Hotels" <%= listing.category === "Hotels" ? "selected" : "" %>>Hotels</option>
                    <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
                    <option value="Swim & Stay" <%= listing.category === "Swim & Stay" ? "selected" : "" %>>Swim & Stay</option>
                    <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
                    <option value="Farms" <%= listing.category === "Farms" ? "selected" : "" %>>Farms</option>
                    <option value="Winter Escapes" <%= listing.category === "Winter Escapes" ? "selected" : "" %>>Winter Escapes</option>
                    <option value="Caves" <%= listing.category === "Caves" ? "selected" : "" %>>Caves</option>
        </select>
        <div class="invalid-feedback">Please select a valid category.</div>
    </div>
        <div class="mb-3">
            <label for="title" class="form-label">Price: </label>
            <input type="number" name="listing[price]" class="form-control" required value="<%= listing.price %>" >

        </div>

        <div class="mb-3">
            <label for="title" class="form-label" >Location: </label>
            <input type="text" name="listing[location]" class="form-control" required value="<%= listing.location %>" >

            <div class="invalid-feedback"> Loction should be valid!!</div>

        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Country: </label>
            <input type="text" name="listing[country]" class="form-control" required value="<%= listing.country %>" >

            <div class="invalid-feedback"> Enter Valid country!</div>

        </div>

    <button class="btn btn-dark mb-3 edit-btn">Edit Listing</button>
    </form>
    </div>
    </div>
    
    
    

